<h1>Les publications </h1>


<div>
    <p>
        <strong>Titre:</strong>
        <%= @article.title %>
    </p>
    <p>
        <strong>Auteur:</strong>
        <%= @article.author %>
    </p>
    <p>
        <strong>Chapeau:</strong>
        <%= @article.text %>
    </p>
    <p>
        <strong>Date de publication:</strong>
        <%= @article.published_date %>
    </p>
</div>

