/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 html {
  height: 100%;
}

 body {
   height: 100%;
    background-image: url("https://eliagraffiti.files.wordpress.com/2017/03/plan-de-travail-4.png");
  }

  .article-container {
    margin: 50px;
    background-color: white ;
    padding: 20px;
    border-radius: 10px;
  }
  .form-container {
    margin: 50px;
    background-color: white ;
    padding: 20px;
    border-radius: 10px;
    max-width: 30rem;
  }

  .main-title {
    color: yellow;
    margin: 20px;
  }